@font-face {
    font-family: 'Livvic-bold';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
        url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-600';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Livvic-600';
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
html {
    height: 100%;
}

header {
    background-color: rgb(4, 99, 105);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}
/* header navbar uchun stilalr */
.header {
    height: 60px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.site_logo {
    width: 15%;
}
.site_nav {
    width: 50%;
    float: left;
}
.site_list {
    display: flex;
}
.site_item {
    padding:0px 15px ;
}
.site_link {
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 18px;
    
}
.site_link:hover {
    cursor: pointer;
    color: greenyellow;
}
.btn {
    padding:8px 16px;
    border-radius: 30px;
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.btn:hover {
    cursor: pointer;
    color: greenyellow;
    border-color: red;
    transform: scale(1.1,1.1);
}
.ancer {
    color: white;
}
/* main part for styles */
main {
    background-color: rgb(4, 99, 105);
}
.hero {
    background-color: rgb(4, 99, 105);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    color: white;
    background-image: url(../Group\ 8.png);
    background-repeat: no-repeat;
    
}
.left {
    width: 55%;
}
.left span{
    color: rgb(231, 80, 156);
}
.hero_title{
    font-family: 'Livvic-bold';
    font-size: 100px;   
}
.right{
    width:40%;
}
.right p{
    width: 80%;
}
.right hr{
    width: 50px;
    border:2px solid white ;
    border-radius: 30px;
    margin-bottom: 50px;
    
}
.hero2 {
    background-color: rgb(8, 66, 66);
}
 .hero2 .container {
    height:450px;
    display: flex ;
    align-items: center;
    color: #fff;
 }
 .hero2_title {
    width: 50%;
    padding: 0px 50px;
 }
 .hero2livic{
    font-family: 'Livvic-bold';
    font-size: 48px;
    

 }
 .hero2_title  hr{
    width: 50px;
    border: 2px solid pink;
    border-radius: 30px;
 }
  .hero2_title h2 {
    width: 80%;
    font-size: 30px;

  }
  .hero2_about {
    padding-right: 44px;
  }
.about_part1{
    display: flex;
    margin-bottom: 20px;
}
.text h4,p{
    padding-top: 10px;
}
.text {
    font-family: 'Livvic-bold';
    font-size: 18px;
    padding-left: 10px;
}
.text h4 {
    color: rgb(167, 75, 75);
}
.name{
    font-family: 'Livvic-bold';
    font-size: 18px;
    
}
.hero3 {
    height: 600px;
    display: flex;
    color: white;
    background-color:  rgb(4, 99, 105);
    padding: 0px 50px; 
    align-items: center;
}

.partners h2 {
    
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.partner_box {
    display: flex;
    width: 100%;
}
.partner {
    text-align: center;
    width: 25%;
    margin: auto;
}
.partner img {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.partner h3{
    padding-top: 15px;
    color: wheat ;
}
 
.sign {
    height: 100px;
    background-color: #F67E7E;
}
.login_text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    margin-left: 50px;
}
.rigt {
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
}






footer{
    background-color: rgb(8, 66, 66);
    color: #fff;
}
footer .contai
ner {
    display: flex ;
    padding: 0px 50px;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}
.f_a_about{
    margin-top: 25px;
}

.footer_logo{
    width: 20%;
}
.footer_list{
    align-items: center;
    display: flex;
}
.footer_item{
    padding:0px 10px;
}
.footer_link{
    color: white;
}
.footer_about{
    width: 40%;
    float: left;
}